.venv/
__pycache__/
*.pyc
.env
.mypy_cache/
.ruff_cache/
.pytest_cache/
dist/
*.egg-info/
.claude
./workspace
trivy-report.json
trivy-report-fixed.json
coverage.xml
.coverage
.scannerwork/
opencode.json
.vscode/